{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} SignUp {% endblock %}
{% block body_block %}
<h1>Create New Account</h1>
{% if registered %}
<div class="alert alert-success">
    Account created successfully! <a href="{% url 'App_Login:login' %}">Login Here</a>
</div>
{% else %}
<form method="POST">
    {{ form|crispy }}
    {% csrf_token %}
    <br>
    <button type="submit" class="btn btn-success btn-sm">SignUp</button>
</form>
<br>
<p>Already have an account?<a href="{% url 'App_Login:login' %}"> Login Here</a></p>
{% endif %}
{% endblock %}